# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# CMake build output
out/
build/
cmake-build-*/

# Compiled files
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk

# Ninja / CMake generated
.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# OS junk
.DS_Store
Thumbs.db